In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [3]:
data=pd.read_excel(r"C:\Users\Dell\Downloads\iris (1).xls")
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.7  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [4]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [9]:
x=['SL','SW','PL','PW']
y=['Classification']

In [11]:
xtrain,xtest,ytrain,ytest=train_test_split(data[x],data[y],test_size=0.2, random_state=1)

In [12]:
ignb=GaussianNB()
imnb=MultinomialNB()
ibnb=BernoulliNB()

In [13]:
pred_gnb=ignb.fit(xtrain,ytrain).predict(xtest)
pred_mnb=imnb.fit(xtrain,ytrain).predict(xtest)
pred_bnb=ibnb.fit(xtrain,ytrain).predict(xtest)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [16]:
cm=confusion_matrix(ytest,pred_gnb)
cm

array([[11,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  6]], dtype=int64)

In [17]:
mean=(11+12+6)/(11+12+6+1)
mean

0.9666666666666667

In [20]:
accuracy_gnb=np.mean(pred_gnb==ytest.values.flatten())
accuracy_gnb

0.9666666666666667